body{
    background-color: rgb(47, 137, 255);

}

body>header{
    color: white;
    font-family: poppins;
    font-size: 36px;
    text-align: center; 
    
    background-color:rgb(47, 60, 238) ;
    border: 20px solid rgb(47, 60, 238);

}

nav{
    font-family: poppins;
    background-color:rgb(47, 60, 238) ;
    border: 20px solid rgb(47, 60, 238);
   
}

nav ul{
    list-style-type:none;
    padding: 0;
    display: flex;
    justify-content:center;
    justify-content: space-evenly;


}

nav ul li{
margin: 10px;
border: 1px solid rgb(47, 137, 255);
padding: 10px 15px;
border-radius: 15px;
background-color:rgb(47, 137, 255);
cursor:pointer;
transition: .5s;
}
nav ul li:hover{
    border-color: rgb(8, 89, 196);
    background-color: rgb(8, 89, 196);
}
nav ul li:active{
    border-color: rgb(119, 172, 241);
    background-color:rgb(119, 172, 241);
    transition: 2s;
}



ul,li{
    color:white;
}
article>header{
    color: white;
    font-family: poppins;  
}

section>header{
    color: white;
    font-family: poppins;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: azure;
    width: 50%;
    height: 50%;
    
}
th,td{
    border: 1px solid black; 
    text-align: center; 
    font-family: poppins;
}